@import './utilities/uti';

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;900&display=swap');

:root {
    --font: 'Poppins',
        sans-serif;
    --BrightBlue: hsl(220, 98%, 61%);

    --red: hsl(356, 69%, 56%);

    --green: hsl(163, 72%, 41%);
}

.light {
    --VeryDarkBlue: hsl(0, 0%, 97%);

    --VeryLightGray: hsl(0, 0%, 98%);

    --VeryDarkDesaturatedBlue: hsl(0, 0%, 100%);

    --VeryLightGrayishBlue: hsl(240, 6%, 94%);

    --LightGrayishBlue: hsl(238, 29%, 16%);

    --DarkGrayishBlue: hsl(236, 9%, 61%);

    --VeryDarkGrayishBlue: hsl(235, 19%, 35%);

    --LightGrayishBluehover: hsl(235, 18%, 25%);

    --border-clr: rgba(0, 0, 0, 0.5);
    --border-hover: rgba(0, 0, 0, 1);

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::after,
*::before {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;

}

img {
    max-width: 100%;
    display: block;
}

body {

    background-color: var(--VeryDarkDesaturatedBlue);
    font-family: var(--font);
    line-height: 1.5;
    font-size: 18px;
    position: relative;


}

header {
    max-width: 480px;
    margin-bottom: 3em;
    background-color: var(--VeryDarkBlue);

    nav {
        background-color: var(--VeryDarkDesaturatedBlue);
        @include flex-1;
        justify-content: space-between;
        padding: 1em 0 1em 1em;
        margin-bottom: 3em;

        .desktop--nav {
            display: none;
        }

        .title--section {
            h1 {
                text-transform: capitalize;
                font-weight: 700;
                color: var(--LightGrayishBlue);
            }
        }

        .button--section {
            @include flex-1;

            button {
                @include svg-button;
                margin: 0 0.9em;
                cursor: pointer;
                background-color: unset;

                svg {

                    path {
                        fill: var(--LightGrayishBlue);
                    }
                }
            }



        }
    }


    .hero--section {
        display: grid;
        grid-template-columns: repeat(1, 1fr);

        .hero--image {
            padding: 0 1.5em;
            margin-bottom: 1.5em;
        }

        .hero--text {
            h2 {

                font-size: 2.5rem;
                text-transform: capitalize;
                letter-spacing: 1px;
                color: var(--LightGrayishBlue);
                padding: 0 1em;
                text-align: center;
            }

            #about {
                text-align: center;
                font-weight: 300;
                text-transform: uppercase;
                font-size: 0.93rem;
                letter-spacing: 3px;
                color: var(--LightGrayishBlue);
                margin-bottom: 1.5em;
            }


            article {

                padding: 0 1.5em;
                margin-bottom: 1.5em;

                p {
                    text-transform: capitalize;
                    font-size: 0.95rem;
                    letter-spacing: 1px;
                    font-weight: 300;
                    color: var(--LightGrayishBlue);
                    text-align: center;
                }
            }
        }

        .email--to--section {
            margin-bottom: 3em;
            @include flex-1;

            a {
                text-decoration: none;
                padding: 0.375em 2em;
                border: 1px solid var(--BrightBlue);
                border-radius: 5px;
                color: var(--LightGrayishBlue);
                text-align: center;
                transition: color 0.4s ease-in;
                font-weight: 500;
                font-size: 1rem;
                text-transform: capitalize;

                &:hover {
                    background-color: var(--BrightBlue);
                    color: hsl(0, 0%, 100%);
                }
            }

        }

    }

}

main {
    max-width: 480px;

    background-color: var(--VeryDarkDesaturatedBlue);
    height: 100vh;
    background-repeat: no-repeat;

    .about {
        padding: 0.5em 1em;
        margin-bottom: 3em;

        //    background-color: greenyellow;
        h2 {
            text-align: left;
            margin-bottom: 0.8em;
            position: relative;
            color: var(--LightGrayishBlue);

            &::after {
                position: absolute;
                width: 150px;
                content: '';
                top: 0;
                left: 0px;
                right: 250px;
                bottom: -10px;
                border-bottom: 5px solid var(--BrightBlue);
                border-radius: 5px;

            }
        }

        p {
            font-size: 0.9rem;
            text-transform: capitalize;
            font-weight: 500;
            color: var(--LightGrayishBlue);
            line-height: 1.8;

            a {
                display: block;
                text-decoration: none;
                font-weight: 300;
                color: var(--VeryDarkGrayishBlue);

                &:hover {
                    color: var(--BrightBlue);
                }
            }
        }
    }

}

.projects {

    h2 {
        text-transform: capitalize;
        margin-bottom: 1em;
        padding: 0 1em;
        color: var(--LightGrayishBlue);
    }

    .cards {
        display: grid;
        grid-template-columns: repeat(auto-fit, 300px);
        grid-template-rows: auto;
        place-content: center;
        margin-bottom: 1.5em;
        gap: 1rem;
        list-style: none;

        li {
            background-color: var(--VeryDarkDesaturatedBlue);
            @include box-shadow-2;
            border-radius: 5px;
            transition: transform 0.4s ease-in;


            &:nth-of-type(2) {
                animation-delay: 0.1s;
            }

            &:nth-of-type(2) {
                animation-delay: 0.1s;
            }


            &:hover {
                transform: translateY(-10px);
            }



        }



    }

    .img--section {
        img {
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
        }
    }

    .project--info {
        margin-bottom: 2em;

        h2 {
            padding: 0;
            margin: 0.5em;
            font-size: 1.3rem;
            text-transform: capitalize;
        }

        article {
            @include flex-1;
            justify-content: flex-start;


            p {
                display: inline-block;
                font-size: 0.9rem;
                font-weight: 500;
                text-transform: capitalize;
                background-color: var(--VeryDarkBlue);
                margin: 0 0.3em;
                padding: 0 0.5em;
                white-space: nowrap;
                letter-spacing: 1px;
                border-radius: 3px;
            }

            .html {
                color: #f16529;
            }

            .sass {
                color: #c76395;
            }

            .api {
                color: var(--BrightBlue);
            }

            .js {
                color: #f7d724;

            }

        }

    }

    .links--to--project {

        margin: 0 0.5em 1.5em 0.5em;
        @include flex-1;
        justify-content: space-between;

        svg {
            width: 30px;
            height: 30px;
        }


        .live {
            text-decoration: none;
            font-size: 0.9rem;
            text-transform: uppercase;
            border: 1px solid var(--border-clr);
            border-radius: 5px;
            padding: 0.3em 1em;
            letter-spacing: 3px;
            color: var(--LightGrayishBlue);
            font-weight: 600;
            transition: color 0.4s ease-in;

            &:hover {
                border-color: var(--border-hover);

            }

            &:active {
                border-color: var(--border-hover);
            }
        }

        .git {
            svg {
                path {
                    fill: var(--border-hover);
                }
            }
        }

        .git:hover {
            transform: scale(1.1);
        }

    }




}

.more--pro {
    text-align: center;

    a {
        text-decoration: none;
        margin-bottom: 3em;
        color: hsl(0, 0%, 100%);
        background-color: var(--BrightBlue);
        letter-spacing: 1px;
        font-weight: 500;
        border-radius: 5px;
        @include box-shadow-5;
        padding: 0.375em 1em;
        font-size: 0.9rem;
        text-transform: uppercase;
        transition: transform 0.4s ease-in;
        display: inline-block;



    }
}

.skills {
    margin-bottom: 3em;

    h2 {
        text-transform: capitalize;
        margin-bottom: 1em;
        padding: 0 1em;
        color: var(--LightGrayishBlue);
    }

    .chart--container {
        background-color: var(--VeryLightGrayishBlue);
        padding: 0.5em;
        display: grid;
        grid-template-columns: repeat(auto-fit, 350px);
        grid-auto-rows: 300px;
        place-content: center;
        gap: 1rem;

        article {
            padding: 0.5em;

            background-color: var(--VeryDarkDesaturatedBlue);

            &:hover {
                transform: translateY(-5px)
            }
        }

        .tools {
            @include flex-1;
            justify-content: flex-start;

            h3 {
                text-transform: uppercase;
                font-weight: 400;
                letter-spacing: 2px;
                color: var(--LightGrayishBlue);
                font-size: 0.9rem;
                margin-bottom: 1em;

            }
        }
    }

    img {


        width: 20px;
        height: 20px;
        object-fit: cover;
        margin-left: 0.5em;
        margin-bottom: 1em;
    }

    .others {
        @include flex-2;

        img {
            width: 50px;
            height: 50px;
        }
    }


}

.contact {
    padding: 0 1.5em;
    margin-bottom: 3em;
    @include flex-2;

    h2 {
        text-transform: capitalize;
        margin-bottom: 1em;
        padding: 0 1em;
        color: var(--LightGrayishBlue);
    }

    form {
        width: 100%;
        max-width: 480px;
        background-color: var(--VeryDarkDesaturatedBlue);

        @include flex-2;
        justify-content: space-around;
        @include box-shadow-4;
        padding: 0.5em;

        .form--control {
            width: 100%;

            @include flex-2;
            align-items: flex-start;

            label {
                text-transform: uppercase;
                font-size: 0.9rem;
                margin-bottom: 0.3em;
                letter-spacing: 2px;
                color: var(--LightGrayishBlue);
            }

            input:not(#submit) {

                appearance: none;
                border: none;
                padding: 0 1em;
                height: 30px;
                width: 100%;
                margin-bottom: 1.5em;
                border-radius: 5px;
                font-weight: 500;
                color: var(--LightGrayishBlue);
                background-color: var(--VeryLightGrayishBlue);

                :focus {
                    box-shadow: 0 0 10px -5px var(--BrightBlue);
                }

            }

            textarea {
                width: 100%;
                height: 200px;
                margin-bottom: 1.5em;
                appearance: none;
                border: none;
                background-color: var(--VeryLightGrayishBlue);
                color: var(--LightGrayishBlue);
                font-family: Arial, Helvetica, sans-serif;
                font-weight: 500;
                resize: none;
                padding: 1em;

            }



        }

        #submit {
            @include button;
            align-self: start;
            margin: 1.5em 0;
            padding: 0.5em 2em;
            font-family: var(--font);
            letter-spacing: 2px;
            color: hsl(0, 0%, 100%);
            font-weight: 600;
            background-color: var(--BrightBlue);
            opacity: 0.8;
            transition: opacity 0.4s ease-in;

            &:hover {
                opacity: 1;
            }
        }
    }



}


footer {
    h4 {
        display: block;
        font-size: 0.9rem;
        text-transform: capitalize;
        color: var(--LightGrayishBlue);
    }

    background-color: var(--VeryDarkBlue);
    padding: 1em;
    @include flex-1;
    justify-content: space-evenly;

    a {
        text-decoration: none;
        margin-left: 1em;

        :hover {
            transform: scale(1.1);
        }
    }

    img {
        width: 25px;
        height: 25px;
        border-radius: 50%;
    }

    svg {
        width: 25px;
        height: 25px;

        path {
            fill: var(--border-hover);
        }
    }
}

.mobile--nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    max-width: 480px;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10000;
    @include flex-2;
    justify-content: flex-start;
    overflow: hidden;

    nav {
        transform: translateY(-150%);
        width: 300px;
        position: relative;
        margin-top: 1em;

        button {
            position: absolute;
            top: 5px;
            right: 5px;
            @include svg-button;
            background-color: unset;
            cursor: pointer;

            svg {
                pointer-events: none;
            }
        }
    }


    ul {
        padding: 2em;
        height: 100%;
        background-color: var(--VeryDarkDesaturatedBlue);


        @include flex-2;
        list-style: none;
        border-radius: 5px;

        li {
            margin: 0.5em 0;
        }

        a {
            @include links;
            color: var(--LightGrayishBlue);
            letter-spacing: 2px;
            font-weight: 700;

            &::after {
                @include nav-links-hover;

                bottom: -5px;
                border-width: 5px;
                border-radius: 5px;
                border-color: var(--BrightBlue);
            }

            &:hover::after {
                transform: scaleX(1);
            }
        }
    }

}



.hide {
    display: none;
}

.show {

    nav {
        transform: translateY(0);
    }
}

.buzz {

    a {
        animation: buzz 1s linear;

    }
}



@keyframes buzz {
    0% {
        transform: translateX(3px) rotate(2deg);
        transform: scale(1.1);
    }

    20% {
        transform: translateX(-3px) rotate(-2deg);
    }

    30% {
        transform: translateX(3px) rotate(2deg);
    }

    40% {
        transform: translateX(-3px) rotate(-2deg);
    }

    50% {

        transform: translateX(2px) rotate(1deg);

    }

    60% {
        transform: translateX(-2px) rotate(-1deg);
    }

    70% {

        transform: translateX(2px) rotate(1deg);

    }

    80% {
        transform: translateX(-2px) rotate(-1deg);
    }

    90% {
        transform: translateX(3px) rotate(2deg);
    }

    100% {
        transform: translateX(-3px) rotate(-2deg);
        transform: scale(1);
    }
}



@media screen and (min-width:481px) {
    header {
        max-width: 768px;
    }

    main {
        max-width: 768px;
    }

    footer {
        justify-content: center;
    }

    .mobile--nav {
        max-width: 768px;
    }
}

@media screen and (min-width:769px) {
    header {
        max-width: 900px;
    }

    main {
        max-width: 900px;
    }

    .mobile--nav {
        max-width: 900px;
    }


}

@media screen and (min-width:901px) {
    header {
        max-width: 1100px;
        margin-bottom: 120px;
        position: relative;

        nav {
            margin-bottom: 120px;


            .desktop--nav {
                @include ul;

                a {
                    @include links;
                    letter-spacing: 2px;
                    font-size: 0.8rem;
                    text-transform: uppercase;
                    font-weight: 600;
                    transition: color 0.4s ease-in;

                    color: var(--LightGrayishBlue);

                    &:hover {
                        color: var(--BrightBlue);
                    }
                }


            }
        }

        .hero--section {
            grid-template-columns: repeat(2, 1fr);
            margin-bottom: 120px;

            .hero--image {
                margin-bottom: 120px;
            }

            .hero--text {

                align-self: center;

            }
        }

        #nav--button {
            display: none;
        }
    }



    main {
        max-width: 1100px;

        .about {
            margin-bottom: 90px;
        }

        .projects {
            .cards {
                grid-template-columns: repeat(2, 500px);
            }
        }
    }

    .mobile--nav {
        display: none;
    }

    .skills {
        .chart--container {

            grid-template-columns: repeat(auto-fit, 400px);
            grid-auto-rows: 350px;
        }
    }

    a[data-links=skills] {
        color: var(--LightGrayishBlue);

    }

    a[data-links=projects] {
        color: var(--LightGrayishBlue);
    }

    a[data-links=contact] {
        color: var(--LightGrayishBlue);
    }



}

@media screen and (min-width:1101px) {
    header {
        max-width: 1440px;
    }

    main {
        max-width: 1440px;

    }

    .scroll {
        nav {
            z-index: 10000;
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            @include box-shadow-4;
        }
    }

    .highlight--skill {
        a[data-links=skills] {
            color: var(--BrightBlue);

        }
    }

    .highlight--pro {
        a[data-links=projects] {
            color: var(--BrightBlue);

        }
    }

    .highlight--contact {
        a[data-links=contact] {
            color: var(--BrightBlue);

        }
    }


}

.dark {
    --VeryDarkBlue: hsl(235, 21%, 11%);

    --VeryDarkDesaturatedBlue: hsl(235, 24%, 19%);

    --LightGrayishBlue: hsl(0, 0%, 100%);

    --LightGrayishBluehover: hsl(236, 33%, 92%);

    --VeryLightGrayishBlue: hsl(235, 18%, 25%);

    --DarkGrayishBlue: hsl(234, 11%, 52%);

    --VeryDarkGrayishBlue: hsl(234, 39%, 85%);

    --border-clr: hsla(0, 0%, 100%, 0.5);

    --border-hover: hsla(0, 0%, 100%, 1);

}