@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;900&display=swap");
:root {
  --alpha: 1;
  --alpha-2: 0.8;
  --alpha-3: 0.6;
  --alpha-4: 0.4;
  --alpha-5: 0.2;
  --fontFw: 200;
  --fontFw-1: 300;
  --fontFw-2: 400;
  --fontFw-3: 500;
  --fontFw-4: 700;
  --fontFw-5: 900;
  --max-width-mob-1: 380px;
  --max-width-mob: 480px;
  --max-width-tab: 650px;
  --max-width-desktop: 900px;
  --max-width-desktop: 1440px;
  --major-white: #ffffff;
  --major-black: #000000;
  --button-pad-1: 1em 2em;
  --button-pad-2: 0.5em 1em;
  --button-pad-3: 0.5em 2em;
  --green: hsl(163, 100%, 32%);
  --bg:hsl(228, 7%, 14%);
  --txt: hsl(228, 2%, 52%);
}

:root {
  --font: 'Poppins',
        sans-serif;
  --BrightBlue: hsl(220, 98%, 61%);
  --red: hsl(356, 69%, 56%);
  --green: hsl(163, 72%, 41%);
}

.light {
  --VeryDarkBlue: hsl(0, 0%, 97%);
  --VeryLightGray: hsl(0, 0%, 98%);
  --VeryDarkDesaturatedBlue: hsl(0, 0%, 100%);
  --VeryLightGrayishBlue: hsl(240, 6%, 94%);
  --LightGrayishBlue: hsl(238, 29%, 16%);
  --DarkGrayishBlue: hsl(236, 9%, 61%);
  --VeryDarkGrayishBlue: hsl(235, 19%, 35%);
  --LightGrayishBluehover: hsl(235, 18%, 25%);
  --border-clr: rgba(0, 0, 0, 0.5);
  --border-hover: rgba(0, 0, 0, 1);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

img {
  max-width: 100%;
  display: block;
}

body {
  background-color: var(--VeryDarkDesaturatedBlue);
  font-family: var(--font);
  line-height: 1.5;
  font-size: 18px;
  position: relative;
}

header {
  max-width: 480px;
  margin-bottom: 3em;
  background-color: var(--VeryDarkBlue);
}

header nav {
  background-color: var(--VeryDarkDesaturatedBlue);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1em 0 1em 1em;
  margin-bottom: 3em;
}

header nav .desktop--nav {
  display: none;
}

header nav .title--section h1 {
  text-transform: capitalize;
  font-weight: 700;
  color: var(--LightGrayishBlue);
}

header nav .button--section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav .button--section button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  margin: 0 0.9em;
  cursor: pointer;
  background-color: unset;
}

header nav .button--section button svg path {
  fill: var(--LightGrayishBlue);
}

header .hero--section {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
}

header .hero--section .hero--image {
  padding: 0 1.5em;
  margin-bottom: 1.5em;
}

header .hero--section .hero--text h2 {
  font-size: 2.5rem;
  text-transform: capitalize;
  letter-spacing: 1px;
  color: var(--LightGrayishBlue);
  padding: 0 1em;
  text-align: center;
}

header .hero--section .hero--text #about {
  text-align: center;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 0.93rem;
  letter-spacing: 3px;
  color: var(--LightGrayishBlue);
  margin-bottom: 1.5em;
}

header .hero--section .hero--text article {
  padding: 0 1.5em;
  margin-bottom: 1.5em;
}

header .hero--section .hero--text article p {
  text-transform: capitalize;
  font-size: 0.95rem;
  letter-spacing: 1px;
  font-weight: 300;
  color: var(--LightGrayishBlue);
  text-align: center;
}

header .hero--section .email--to--section {
  margin-bottom: 3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .hero--section .email--to--section a {
  text-decoration: none;
  padding: 0.375em 2em;
  border: 1px solid var(--BrightBlue);
  border-radius: 5px;
  color: var(--LightGrayishBlue);
  text-align: center;
  -webkit-transition: color 0.4s ease-in;
  transition: color 0.4s ease-in;
  font-weight: 500;
  font-size: 1rem;
  text-transform: capitalize;
}

header .hero--section .email--to--section a:hover {
  background-color: var(--BrightBlue);
  color: white;
}

main {
  max-width: 480px;
  background-color: var(--VeryDarkDesaturatedBlue);
  height: 100vh;
  background-repeat: no-repeat;
}

main .about {
  padding: 0.5em 1em;
  margin-bottom: 3em;
}

main .about h2 {
  text-align: left;
  margin-bottom: 0.8em;
  position: relative;
  color: var(--LightGrayishBlue);
}

main .about h2::after {
  position: absolute;
  width: 150px;
  content: '';
  top: 0;
  left: 0px;
  right: 250px;
  bottom: -10px;
  border-bottom: 5px solid var(--BrightBlue);
  border-radius: 5px;
}

main .about p {
  font-size: 0.9rem;
  text-transform: capitalize;
  font-weight: 500;
  color: var(--LightGrayishBlue);
  line-height: 1.8;
}

main .about p a {
  display: block;
  text-decoration: none;
  font-weight: 300;
  color: var(--VeryDarkGrayishBlue);
}

main .about p a:hover {
  color: var(--BrightBlue);
}

.projects h2 {
  text-transform: capitalize;
  margin-bottom: 1em;
  padding: 0 1em;
  color: var(--LightGrayishBlue);
}

.projects .cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (300px)[auto-fit];
      grid-template-columns: repeat(auto-fit, 300px);
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  place-content: center;
  margin-bottom: 1.5em;
  gap: 1rem;
  list-style: none;
}

.projects .cards li {
  background-color: var(--VeryDarkDesaturatedBlue);
  -webkit-box-shadow: 0 5px 10px -5px rgba(0, 0, 0, var(--alpha-2));
          box-shadow: 0 5px 10px -5px rgba(0, 0, 0, var(--alpha-2));
  border-radius: 5px;
  -webkit-transition: -webkit-transform 0.4s ease-in;
  transition: -webkit-transform 0.4s ease-in;
  transition: transform 0.4s ease-in;
  transition: transform 0.4s ease-in, -webkit-transform 0.4s ease-in;
}

.projects .cards li:nth-of-type(2) {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}

.projects .cards li:nth-of-type(2) {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}

.projects .cards li:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.projects .img--section img {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.projects .project--info {
  margin-bottom: 2em;
}

.projects .project--info h2 {
  padding: 0;
  margin: 0.5em;
  font-size: 1.3rem;
  text-transform: capitalize;
}

.projects .project--info article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.projects .project--info article p {
  display: inline-block;
  font-size: 0.9rem;
  font-weight: 500;
  text-transform: capitalize;
  background-color: var(--VeryDarkBlue);
  margin: 0 0.3em;
  padding: 0 0.5em;
  white-space: nowrap;
  letter-spacing: 1px;
  border-radius: 3px;
}

.projects .project--info article .html {
  color: #f16529;
}

.projects .project--info article .sass {
  color: #c76395;
}

.projects .project--info article .api {
  color: var(--BrightBlue);
}

.projects .project--info article .js {
  color: #f7d724;
}

.projects .links--to--project {
  margin: 0 0.5em 1.5em 0.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.projects .links--to--project svg {
  width: 30px;
  height: 30px;
}

.projects .links--to--project .live {
  text-decoration: none;
  font-size: 0.9rem;
  text-transform: uppercase;
  border: 1px solid var(--border-clr);
  border-radius: 5px;
  padding: 0.3em 1em;
  letter-spacing: 3px;
  color: var(--LightGrayishBlue);
  font-weight: 600;
  -webkit-transition: color 0.4s ease-in;
  transition: color 0.4s ease-in;
}

.projects .links--to--project .live:hover {
  border-color: var(--border-hover);
}

.projects .links--to--project .live:active {
  border-color: var(--border-hover);
}

.projects .links--to--project .git svg path {
  fill: var(--border-hover);
}

.projects .links--to--project .git:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.more--pro {
  text-align: center;
}

.more--pro a {
  text-decoration: none;
  margin-bottom: 3em;
  color: white;
  background-color: var(--BrightBlue);
  letter-spacing: 1px;
  font-weight: 500;
  border-radius: 5px;
  -webkit-box-shadow: 0 5px 10px -5px rgba(0, 0, 0, var(--alpha-5));
          box-shadow: 0 5px 10px -5px rgba(0, 0, 0, var(--alpha-5));
  padding: 0.375em 1em;
  font-size: 0.9rem;
  text-transform: uppercase;
  -webkit-transition: -webkit-transform 0.4s ease-in;
  transition: -webkit-transform 0.4s ease-in;
  transition: transform 0.4s ease-in;
  transition: transform 0.4s ease-in, -webkit-transform 0.4s ease-in;
  display: inline-block;
}

.skills {
  margin-bottom: 3em;
}

.skills h2 {
  text-transform: capitalize;
  margin-bottom: 1em;
  padding: 0 1em;
  color: var(--LightGrayishBlue);
}

.skills .chart--container {
  background-color: var(--VeryLightGrayishBlue);
  padding: 0.5em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (350px)[auto-fit];
      grid-template-columns: repeat(auto-fit, 350px);
  grid-auto-rows: 300px;
  place-content: center;
  gap: 1rem;
}

.skills .chart--container article {
  padding: 0.5em;
  background-color: var(--VeryDarkDesaturatedBlue);
}

.skills .chart--container article:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.skills .chart--container .tools {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.skills .chart--container .tools h3 {
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 2px;
  color: var(--LightGrayishBlue);
  font-size: 0.9rem;
  margin-bottom: 1em;
}

.skills img {
  width: 20px;
  height: 20px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-left: 0.5em;
  margin-bottom: 1em;
}

.skills .others {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.skills .others img {
  width: 50px;
  height: 50px;
}

.contact {
  padding: 0 1.5em;
  margin-bottom: 3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact h2 {
  text-transform: capitalize;
  margin-bottom: 1em;
  padding: 0 1em;
  color: var(--LightGrayishBlue);
}

.contact form {
  width: 100%;
  max-width: 480px;
  background-color: var(--VeryDarkDesaturatedBlue);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-shadow: 0 5px 10px -5px rgba(0, 0, 0, var(--alpha-4));
          box-shadow: 0 5px 10px -5px rgba(0, 0, 0, var(--alpha-4));
  padding: 0.5em;
}

.contact form .form--control {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.contact form .form--control label {
  text-transform: uppercase;
  font-size: 0.9rem;
  margin-bottom: 0.3em;
  letter-spacing: 2px;
  color: var(--LightGrayishBlue);
}

.contact form .form--control input:not(#submit) {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  padding: 0 1em;
  height: 30px;
  width: 100%;
  margin-bottom: 1.5em;
  border-radius: 5px;
  font-weight: 500;
  color: var(--LightGrayishBlue);
  background-color: var(--VeryLightGrayishBlue);
}

.contact form .form--control input:not(#submit) :focus {
  -webkit-box-shadow: 0 0 10px -5px var(--BrightBlue);
          box-shadow: 0 0 10px -5px var(--BrightBlue);
}

.contact form .form--control textarea {
  width: 100%;
  height: 200px;
  margin-bottom: 1.5em;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  background-color: var(--VeryLightGrayishBlue);
  color: var(--LightGrayishBlue);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  resize: none;
  padding: 1em;
}

.contact form #submit {
  display: inline-block;
  line-height: 1.5;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  cursor: pointer;
  padding: 0.375em 0.75em;
  font-size: 0.89rem;
  text-transform: capitalize;
  border-radius: 2px;
  letter-spacing: 1px;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  margin: 1.5em 0;
  padding: 0.5em 2em;
  font-family: var(--font);
  letter-spacing: 2px;
  color: white;
  font-weight: 600;
  background-color: var(--BrightBlue);
  opacity: 0.8;
  -webkit-transition: opacity 0.4s ease-in;
  transition: opacity 0.4s ease-in;
}

.contact form #submit:hover {
  opacity: 1;
}

footer {
  background-color: var(--VeryDarkBlue);
  padding: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

footer h4 {
  display: block;
  font-size: 0.9rem;
  text-transform: capitalize;
  color: var(--LightGrayishBlue);
}

footer a {
  text-decoration: none;
  margin-left: 1em;
}

footer a :hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

footer img {
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

footer svg {
  width: 25px;
  height: 25px;
}

footer svg path {
  fill: var(--border-hover);
}

.mobile--nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  max-width: 480px;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  overflow: hidden;
}

.mobile--nav nav {
  -webkit-transform: translateY(-150%);
          transform: translateY(-150%);
  width: 300px;
  position: relative;
  margin-top: 1em;
}

.mobile--nav nav button {
  position: absolute;
  top: 5px;
  right: 5px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  background-color: unset;
  cursor: pointer;
}

.mobile--nav nav button svg {
  pointer-events: none;
}

.mobile--nav ul {
  padding: 2em;
  height: 100%;
  background-color: var(--VeryDarkDesaturatedBlue);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style: none;
  border-radius: 5px;
}

.mobile--nav ul li {
  margin: 0.5em 0;
}

.mobile--nav ul a {
  text-decoration: none;
  font-size: 1rem;
  text-transform: capitalize;
  display: inline-block;
  position: relative;
  color: var(--LightGrayishBlue);
  letter-spacing: 2px;
  font-weight: 700;
}

.mobile--nav ul a::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  border-bottom: 1px solid;
  -webkit-transition: -webkit-transform 0.5s ease-in;
  transition: -webkit-transform 0.5s ease-in;
  transition: transform 0.5s ease-in;
  transition: transform 0.5s ease-in, -webkit-transform 0.5s ease-in;
  -webkit-transform-origin: 50%;
          transform-origin: 50%;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  bottom: -5px;
  border-width: 5px;
  border-radius: 5px;
  border-color: var(--BrightBlue);
}

.mobile--nav ul a:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.hide {
  display: none;
}

.show nav {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.buzz a {
  -webkit-animation: buzz 1s linear;
          animation: buzz 1s linear;
}

.back--to--top {
  position: fixed;
  bottom: 50px;
  background-color: var(--BrightBlue);
  padding: 1.5em;
  left: 20px;
  border-radius: 5px;
}

@-webkit-keyframes buzz {
  0% {
    -webkit-transform: translateX(3px) rotate(2deg);
            transform: translateX(3px) rotate(2deg);
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  20% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
            transform: translateX(-3px) rotate(-2deg);
  }
  30% {
    -webkit-transform: translateX(3px) rotate(2deg);
            transform: translateX(3px) rotate(2deg);
  }
  40% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
            transform: translateX(-3px) rotate(-2deg);
  }
  50% {
    -webkit-transform: translateX(2px) rotate(1deg);
            transform: translateX(2px) rotate(1deg);
  }
  60% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
            transform: translateX(-2px) rotate(-1deg);
  }
  70% {
    -webkit-transform: translateX(2px) rotate(1deg);
            transform: translateX(2px) rotate(1deg);
  }
  80% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
            transform: translateX(-2px) rotate(-1deg);
  }
  90% {
    -webkit-transform: translateX(3px) rotate(2deg);
            transform: translateX(3px) rotate(2deg);
  }
  100% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
            transform: translateX(-3px) rotate(-2deg);
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes buzz {
  0% {
    -webkit-transform: translateX(3px) rotate(2deg);
            transform: translateX(3px) rotate(2deg);
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  20% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
            transform: translateX(-3px) rotate(-2deg);
  }
  30% {
    -webkit-transform: translateX(3px) rotate(2deg);
            transform: translateX(3px) rotate(2deg);
  }
  40% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
            transform: translateX(-3px) rotate(-2deg);
  }
  50% {
    -webkit-transform: translateX(2px) rotate(1deg);
            transform: translateX(2px) rotate(1deg);
  }
  60% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
            transform: translateX(-2px) rotate(-1deg);
  }
  70% {
    -webkit-transform: translateX(2px) rotate(1deg);
            transform: translateX(2px) rotate(1deg);
  }
  80% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
            transform: translateX(-2px) rotate(-1deg);
  }
  90% {
    -webkit-transform: translateX(3px) rotate(2deg);
            transform: translateX(3px) rotate(2deg);
  }
  100% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
            transform: translateX(-3px) rotate(-2deg);
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@media screen and (min-width: 481px) {
  header {
    max-width: 768px;
  }
  main {
    max-width: 768px;
  }
  footer {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .mobile--nav {
    max-width: 768px;
  }
}

@media screen and (min-width: 769px) {
  header {
    max-width: 900px;
  }
  main {
    max-width: 900px;
  }
  .mobile--nav {
    max-width: 900px;
  }
}

@media screen and (min-width: 901px) {
  header {
    max-width: 1100px;
    margin-bottom: 120px;
    position: relative;
  }
  header nav {
    margin-bottom: 120px;
  }
  header nav .desktop--nav {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header nav .desktop--nav li {
    margin: 0 1em;
  }
  header nav .desktop--nav a {
    text-decoration: none;
    font-size: 1rem;
    text-transform: capitalize;
    display: inline-block;
    position: relative;
    letter-spacing: 2px;
    font-size: 0.8rem;
    text-transform: uppercase;
    font-weight: 600;
    -webkit-transition: color 0.4s ease-in;
    transition: color 0.4s ease-in;
    color: var(--LightGrayishBlue);
  }
  header nav .desktop--nav a:hover {
    color: var(--BrightBlue);
  }
  header .hero--section {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    margin-bottom: 120px;
  }
  header .hero--section .hero--image {
    margin-bottom: 120px;
  }
  header .hero--section .hero--text {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  header #nav--button {
    display: none;
  }
  main {
    max-width: 1100px;
  }
  main .about {
    margin-bottom: 90px;
  }
  main .projects .cards {
    -ms-grid-columns: (500px)[2];
        grid-template-columns: repeat(2, 500px);
  }
  .mobile--nav {
    display: none;
  }
  .skills .chart--container {
    -ms-grid-columns: (400px)[auto-fit];
        grid-template-columns: repeat(auto-fit, 400px);
    grid-auto-rows: 350px;
  }
  a[data-links=skills] {
    color: var(--LightGrayishBlue);
  }
  a[data-links=projects] {
    color: var(--LightGrayishBlue);
  }
  a[data-links=contact] {
    color: var(--LightGrayishBlue);
  }
}

@media screen and (min-width: 1101px) {
  header {
    max-width: 1440px;
  }
  main {
    max-width: 1440px;
  }
  .scroll nav {
    z-index: 10000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    -webkit-box-shadow: 0 5px 10px -5px rgba(0, 0, 0, var(--alpha-4));
            box-shadow: 0 5px 10px -5px rgba(0, 0, 0, var(--alpha-4));
  }
  .highlight--skill a[data-links=skills] {
    color: var(--BrightBlue);
  }
  .highlight--pro a[data-links=projects] {
    color: var(--BrightBlue);
  }
  .highlight--contact a[data-links=contact] {
    color: var(--BrightBlue);
  }
}

.dark {
  --VeryDarkBlue: hsl(235, 21%, 11%);
  --VeryDarkDesaturatedBlue: hsl(235, 24%, 19%);
  --LightGrayishBlue: hsl(0, 0%, 100%);
  --LightGrayishBluehover: hsl(236, 33%, 92%);
  --VeryLightGrayishBlue: hsl(235, 18%, 25%);
  --DarkGrayishBlue: hsl(234, 11%, 52%);
  --VeryDarkGrayishBlue: hsl(234, 39%, 85%);
  --border-clr: hsla(0, 0%, 100%, 0.5);
  --border-hover: hsla(0, 0%, 100%, 1);
}
/*# sourceMappingURL=style.css.map */